@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

$font-family: 'Roboto', sans-serif;
$font-family-logo: 'Berkshire Swash', cursive;

$color-white: #fff;
$color-black: #000;
$color-blue: #023047;
$color-orange: #fb8500;
$color-yellow: #ffb703;
$color-light-blue: #8ecae6;

$font-size: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-48: 48px;
$font-size-68: 68px;
$font-size-72: 72px;