$font-family: 'Balsamiq Sans', cursive;

$color-white: #fff;
$color-black: #000;
$color-light-olive: #d4e09b;
$color-dark-olive: #8cb369;
$color-milk: #f6f4d2;
$color-salomon: #f19c79;
$color-turquoise: #53bcab;
$color-ruby: #9a031e;
$color-blue: #023047;

$font-size: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;