@import '../../../../css/base/variables.scss';
@import '../../../../css/base/extends.scss';

.country__weather {
  font-size: $font-size;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media (min-width: 1024px) {
    font-size: $font-size-18;
  }

  .weather {
    background-color: $color-light-blue;
    
    @extend %widget;

    &__item {

      &::first-letter {
        text-transform: uppercase;
      }
    }

    img {
      width: 100px;
    }
  }
}