@import '../../../../css/base/variables.scss';

.country__map {
  position: relative;

  &-container,
  &-panorama {
    width: 100%;
    height: 100vw;
  
    @media (min-width: 768px) {
      width: 100%;
      height: 500px;
    }
  }

  &-panorama {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    &.open {
      display: block;
    }
  }
}