@import '../../../css/base/variables.scss';

.country {
  &__wrapper {
    display: flex;
    flex-direction: column;  
    position: relative;
  
    @media (min-width: 768px) {
      flex-direction: row;

      &::before {
        content: '';
        position: absolute;
        bottom: 900px;
        right: 0;
        z-index: -1;
        width: 100%;      
        height: 44vw;
        background-image: url('../../../img/backgrounds/cloud-1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: bottom;
        opacity: 0.5;
      }
    }
  
    @media (min-width: 1200px) {
      &::before {
        bottom: 1100px;
      }
    }
  }

  &__info {
    position: relative;
    width: 100%;
  
    @media (min-width: 768px) {
      width: 70%;

      &::before {
        content: '';
        position: absolute;
        top: -8vw;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 35vw;
        background-image: url('../../../img/backgrounds/cloud-2.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: center;
        transform: rotate(180deg);
        opacity: 0.5;
      }
    }
  }

  &__widgets {
    width: 100%;
  
    @media (min-width: 768px) {
      width: 30%;
    }
  }

  &__title {
    color: $color-blue;
    font-size: $font-size-30;
    margin-bottom: 20px;
  
    @media (min-width: 768px) {
      font-size: $font-size-40;
    }
  }

  &__video {
    position: relative;
  }

  &__description,
  &__gallery,
  &__video,
  &__map,
  &__widgets {
    padding: 20px;
    
    @media (min-width: 1024px) {
      padding: 50px;
    }
  }

  &__widgets {
    
    @media (min-width: 1024px) {
      padding-left: 0;
    }
  }
}