@import '../../../css/base/variables.scss';

.country__currency-table {
  font-size: $font-size-18;
  border-bottom: 2px solid $color-blue;
  width: 100%;

  thead tr {
    background-color: $color-blue;
    color: $color-white;
  }

  th, 
  td {
    padding: 10px;
    text-align: left;
  }

  tr {
    background-color: $color-white;

    &:nth-child(even) {
      background-color: $color-light-blue;
      color: $color-white;
    }
  }
}