@import '../../css/base/variables.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "~video-react/styles/scss/video-react";

html {
  box-sizing: border-box;
  height: 100%;
  font-size: $font-size;
  -ms-overflow-style: auto;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $color-orange;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  min-width: 320px;
  min-height: 100%;
  font-size: $font-size;
  background-color: $color-white;
  line-height: 1;
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family;
}

main {
  position: relative;
  min-height: calc(100vh - 170px);
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}