@import '../../../../css/base/variables.scss';

.footer {
  width: 100%;
  min-height: 100px;
  background-color: $color-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  font-size: $font-size-20;
  color: $color-white;
  font-family: $font-family-logo;

  &__container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    flex-direction: column; 
  
    @media (min-width: 768px) {
      flex-direction: row; 
    }
  }

  &__author {
    display: flex;
    flex-direction: column;
    flex-direction: row; 
  
    @media (min-width: 768px) {
      flex-direction: column;
    }

    a {
      display: inline-block;
      margin: 10px;
      color: $color-white;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__logo {
    padding: 20px 0;
    height: 100px;
    width: auto;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: all 0.3s ease-in-out;
      filter: invert(1);

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}